.footer {
	margin-top: auto;
	
	&-wrap {
		margin-top: 102px;
		padding-top: 20px;
		background: rgba(36, 43, 40, .92);
	}
	
	&-top {
		padding-bottom: 32px;
		display: flex;
		align-items: flex-start;
	}
	
	&-brand {
		display: flex;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 500;
		color: #d9d9d9;
		
		&:hover {
			color: var(--color-green);
		}
		
		&:active {
			color: var(--color-dark-green);
		}
		
		span {
			margin-left: 10px;
			width: 107px;
		}
	}
	
	&-brand-wrap {
		max-width: 228px;
		flex-shrink: 0;
		flex-grow: 1;
	}
	
	&-menu {
		margin: 0 30px;
		width: 100%;
		max-width: 290px;
		display: flex;
		justify-content: space-between;
		
		&__link {
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 20px;
			white-space: nowrap;
			color: #ffffff;
			transition: color .2s ease-in-out;
			
			&:hover {
				color: var(--color-green);
			}
			
			&:active {
				color: var(--color-dark-green);
			}
			
			&:not(:last-child) {
				margin-bottom: 14px;
			}
			
			.icon {
				margin-right: 8px;
				width: 20px;
				height: 20px;
			}
		}
		
		.col {
			display: flex;
			flex-direction: column;
		}
	}
	
	&-contact {
		margin-left: auto;
		display: flex;
		flex-direction: column;
		
		.footer-menu__link {
			white-space: normal;
		}
	}
	
	&-social {
		display: flex;
		
		.icon {
			width: 24px;
			height: 24px;
			display: block;
			background-color: #f9f9f9;
			transition: background-color .2s ease-in-out;
			
			&:hover {
				background-color: var(--color-green);
			}
			
			&:active {
				background-color: var(--color-dark-green);
			}
		}
		
		a + a {
			margin-left: 12px;
		}
	}
	
	&-bottom {
		padding: 11px 0;
		display: flex;
		align-items: center;
		font-size: 12px;
		border-top: 1px solid rgba(#bdbdbd, .3);
		
		span {
			color: #d9d9d9;
		}
		
		a {
			color: #d9d9d9;
		}
	}
	
	&-links {
		margin: -12px;
		display: flex;
		
		a {
			margin: 12px;
			
			&:hover {
				color: var(--color-green);
			}
			
			&:active {
				color: var(--color-dark-green);
			}
		}
	}
	
	&-dev {
		margin-left: auto;
		display: flex;
		align-items: center;
		color: #bdbdbd;
		
		&:hover {
			color: #ffffff;
		}
		
		.logo-golova {
			margin-left: 8px;
		}
	}
}

@media (max-width: 800px) {

	.footer-menu {
		margin-right: 60px;
		max-width: 260px;
	}

	.footer-brand-wrap {
		max-width: 160px;
	}
}

@media (max-width: 700px) {

	.footer {
		
		&-wrap {
			margin-top: 72px;
		}
	
		&-top {
			flex-direction: column;
		}
		
		&-menu {
			margin: 0;
			flex-direction: column;
			
			&__link {
				align-items: flex-start;
			}
			
			.col {
				margin: 14px 0 0 !important;
			}
		}
		
		&-contact {
			margin: 24px 0 0;
		}
		
		&-bottom {
			padding: 22px 0;
			flex-direction: column;
			align-items: flex-start;
			
			.footer-brand-wrap {
				margin-top: 16px;
				width: 100%;
				max-width: 100%;
				order: 2;
				text-align: center;
			}

			.footer-links {
				order: 1;
			}
		}
		
		&-links {
			margin: 0;
			flex-direction: column;
			
			a {
				margin: 0;
				
				& + a {
					margin-top: 10px;
				}
			}
		}
		
		&-dev {
			margin: 18px 0 0;
			padding-top: 18px;
			width: 100%;
			justify-content: center;
			order: 3;
			border-top: 1px solid rgba(#bdbdbd, .3);
		}
	}
}
